/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************* Own Styles ***************/

*{
    font-family: sans-serif;
}

.body-container{
    display: flex;
    background-color: #fafafa;
}

.side-image{
    flex: 2;
}

.side-image, 
.side-image img{
    height: 100vh;
    width: 35vw;
}

.image-logo{
    width: 35vw;
    padding: 30px 0 30px 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    font-size: 40px;
    top: 400px;
    left: 0;
    color: #e9e9e9;
    text-align: center;
}

.image-logo h1{
    font-family: 'Pacifico', cursive;
}

.side-image p{
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 11vw;
    color: #e9e9e9;
    font-family: sans-serif;
    font-weight: 600;
}

.main-section{
    flex: 4;
    font-family: sans-serif;
    color: #3b444b;
}

.header{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 300px;
    padding-bottom: 50px;
    font-size: 28px;
    font-weight: 500;
}

.form-area{
    background-color: #ffffff;
    padding: 50px 0 50px 50px;
    -webkit-box-shadow: 0 8px 6px -6px #e9e9e9;
    -moz-box-shadow: 0 8px 6px -6px #e9e9e9;
         box-shadow: 0 8px 6px -6px #e9e9e9;
}

.form-area h2{
    font-size: 30px;
}

.form-area label, .form-area input{
    display: block;
}

.form-area table{
    margin-top: 50px;
}

.form-area td{  
    padding: 20px 120px 20px 0;
    margin-left: 50px;
}

.form-area label{
    font-weight: 300;
    margin-bottom: 10px;
}

.form-area input{
    border-radius: 5px;
    border: 2px solid #e9e9e9; 
    width: 300px;
    height: 35px;
}

.form-area input:focus{
    border: 2px solid #85acff;
}

.footer{
    padding: 40px 0 75px 50px;
}

.footer button, .footer a{
    display: block;
}


.footer button{
    width: 300px;
    height: 60px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #47d3cc;
    background-color: #47d3cc;
    color: #ffffff;
    font-weight: 600;
}